.site-header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(260deg 50% 50% / 0.1);
  color: white;
  transition: all 0.3s ease-in-out;
}

.site-header nav {
  overflow: auto;
  padding: 24px;
}
.header-nav-links {
  display: flex;
  gap: 32px;
  font-size: 1.25rem;
  font-weight: 500;
}
.site-header .header-nav-link {
  list-style: none;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.2s;
}

.site-header .header-nav-link:hover {
  border-bottom: 2px solid white;
  transition: all ease-in-out 0.4s;
}

.site-header .header-nav-link.primary {
  color: hsl(260deg 100% 50%);
}

.scrolled {
  transition: all 0.3s ease-in-out;
  background-color: hsl(53deg 40% 20% / 0.765);
}

.logo {
  transition: all 0.3s ease-in-out;
  width: 90px;
  padding: 10px 0px 10px 20px;
}

.logo-scrolled {
  transition: all 0.3s ease-in-out;
  width: 60px;
}