.site-footer {
  background-color: hsl(52.5deg 44.44% 89.41%);
  display: flex;
  font-family: serif;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid hsl(260deg 50% 50% / 0.1);
}
.site-footer nav {
  overflow: auto;
  padding: 60px;
  width:100%;
}
.footer-nav-links {
  font-size: 1rem;
  text-align: right;
  text-decoration: underline;
}
.site-footer .footer-nav-link {
  list-style: none;
  text-decoration: none;
  color: black;
}

.site-footer .footer-nav-link.primary {
  color: hsl(260deg 100% 50%);
}
