.site-footer {
  display: flex;
  font-family: serif;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid hsl(260deg 50% 50% / 0.1);
}
.site-footer nav {
  overflow: auto;
  padding: 24px;
}
.footer-nav-links {
  font-size: 1rem;
}
.site-footer .footer-nav-link {
  list-style: none;
  text-decoration: none;
  color: black;
}

.site-footer .footer-nav-link.primary {
  color: hsl(260deg 100% 50%);
}
